{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}

{% block content %}
<div class="container-fluid">
 <div>
 <h3 style="font-weight: bold;
  padding: 5px;
  border: 5px solid blue;
  margin: 0;">{{ pitches.pitch }} </h3>
         <h3 style="color: blue; font-weight: medium;">comments</h3>

 </div>
         {% if comment %}
         {{ macro.displaySpecificPitch(comment)}}
         <br>
         {%else%}
         <h3 class="text-center" style="color:blue">No comments found </h3>
         {% endif %}
        </div>
<div class="col-md-4">
                
        <button type="button" class="btn btn-default"><a  class="btn btn-round" href="{{url_for('.upvote',id=pitches.id)}}">Upvote<span class="glyphicon glyphicon-upload"></span></a></button>
        <button type="button" class="btn btn-default"><a  class="btn btn-round" href="{{url_for('.downvote',id=pitches.id)}}">Downvote<span class="glyphicon glyphicon-download"></span></a></button>
        <button type="button" class="btn btn-default"><a class="btn btn-primary" href="{{url_for('.post_comment',id=pitches.id)}}"> Add comments</a></button>
        <button><a class="btn btn-primary" href="{{url_for('.new_pitch',id=pitches.category_id)}}">Post a Pitch</a></button>

</div>
    </div>
  </div>

{% endblock %}
