{% extends 'base.html' %} {% import 'macros.html' as macro%} {%block styles%} {{
super() }} {%endblock%} {% block content %}
<div class="container">
  <div>
    <h3
      style="
        font-weight: bold;
        padding: 5px;
        border: 5px solid yellowgreen;
        margin: 0;
      "
    >
      {{ pitches.pitch }}
    </h3>
  </div><br>

  <div class="col-md-4">
    <button type="button" class="btn btn-default">
      <a class="fa fa-thumbs-up" href="{{url_for('.upvote',id=pitches.id)}}"
        style="color: black;" 
      ></a>
    </button>
    <button type="button" class="btn btn-default">
      <a class="fa fa-thumbs-down" href="{{url_for('.downvote',id=pitches.id)}}"
        style="color: red;"
      ></a>
    </button>
    <button type="button" class="btn btn-default">
      <a
        class="btn btn-primary"
        href="{{url_for('.post_comment',id=pitches.id)}}"
      >
        Add comments</a
      >
    </button>
    <button>
      <a
        class="btn btn-primary"
        href="{{url_for('.new_pitch',id=pitches.category_id)}}"
        >Post a Pitch</a
      >
    </button>
  </div>

    <h3 style="color: rgb(255, 60, 0); font-weight: medium">comments</h3>

  {% if comment %} {{ macro.displaySpecificPitch(comment)}}
  <br />
  {%else%}
  <h3 class="text-center" style="color: rgb(255, 38, 0)">No comments found</h3>
  {% endif %}
</div>

{% endblock %}
